<div class="listIdeas">
    <header class="listHeader">
        <a href="/ideas/create"><button>Criar Ideia</button></a>
        <a href="/logout"><button>Logout</button></a>
    </header>
    <ul class="ideasGrid">
    {{#each ideas}}
        <li class="ideaCard" data-id="{{this._id}}">
        <h3>{{this.title}}</h3>
        <h5 class="voteCount">{{this.likes.length}} voto(s)</h5>
        <p>Por: {{this.createdBy}}</p>
        <hr />
        <p>{{this.description}}</p>
        <div class="info">
            <div>
                <button class="like">Votar</button>
                {{#if this.isOwner}}
                    <a href=""><img src="images/lixeira.svg" alt="lixeira"></a>
                    <a href=""><img src="images/brush.svg" alt="brush"></a>
                {{/if}}
            </div>
            <div class="category">
                {{this.category}}
            </div>
        </div>
        </li>
    {{/each}}
    </ul>
</div>
