<div class="listIdeas">
    <header class="listHeader">
        <button>Criar Ideia</button>
        <a href="/logout"><button>Logout</button></a>
    </header>
    <ul class="ideasGrid">
    {{#each ideas}}
        <li class="ideaCard" data-id="{{this._id}}">
        <h3>{{this.title}}</h3>
        <h5 class="voteCount">{{this.likes.length}} voto(s)</h5>
        <hr />
        <p>{{this.description}}</p>
        <div class="info">
            <button class="like">Votar</button>
            <div class="category">
                {{this.category}}
            </div>
        </div>
        </li>
    {{/each}}
    </ul>
</div>
